# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env
.env.local

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Node / Frontend (future)
# -------------------------
node_modules/
dist/
build/

# -------------------------
# Testing / Coverage
# -------------------------
.coverage
htmlcov/

# -------------------------
# Secrets
# -------------------------
*.pem
*.key
